.all-answers-page {
    color: white;
    /* padding: 20px; */
}

.theme-selector {
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
}

.selection-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

.all-answers-page .board {
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: var(--background-dark-hover);
}

.all-answers-page .category {
    font-size: 1em;
    color: #EEC759;
}

.answer-cell {
    font-weight: bold;
    font-size: 2vh;
    height: 10.3vh;
    height: 10vh;
    padding: 10px;
}

/*=== THIS STYLE IS FOR AllAnswers.js WHICH IS NOT IN USE RIGHT NOW===*/
/* .answers-table {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    max-width: 900px;
}

.answers-table th,
.answers-table td {
    background-color: var(--background-dark);
    border: 2px solid rgba(0, 14, 33, 1);
    padding: 12px 10px;
    text-align: left;
}

.answers-table td {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.answers-table th {
    background-color: var(--background-dark-hover);
}

.answer-category {
    margin-bottom: 40px;
}

.answer-category h3 {
    margin-bottom: 10px;
}

.answers-table tbody td:nth-child(1) {
    width: 70%;
}

.answers-table tbody td:nth-child(2) {
    width: 25%;
}

.answers-table tbody td:nth-child(3) {
    width: 5%;
} */

