.attribution-page * {
    color: white;
}

.attribution-content {
    min-height: 80vh;
}

.attribution-page ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
}

