.add-players-container {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    background-attachment: fixed;
}

.add-players-content {
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    display: flex;
    background-color: var(--background-dark);
    border: 2px solid #00d1ff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 209, 255, 0.7);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    overflow: hidden;
    margin: auto;
    margin-top: 3vw;
    margin-top: 10px;
    padding: 0.3vw;
    width: 25vw;
    filter: drop-shadow(0 5px 5px var(--background-dark));
}

.input-name {
    flex: 1;
    padding: 10px 15px;
    font-size: 1vw;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}

.input-name::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
}

.input-btn {
    background-color: transparent;
    border: none;
    color: var(--primary-blue);
    font-size: 1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 6px 10px;
    display: flex;
    align-self: center;
}

.input-btn:hover,
.input-btn:focus,
.input-btn:active {
    color: var(--primary-blue-hover);
    color: white;
}

.players-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em 5em;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-size: 1.4vw;
    /* max-height: 13vw; */
    max-height: 18vh;
    min-height: 130px;
    max-width: 100vw;
    justify-self: center;
}

/*THEME*/
.title-theme {
    margin-top: 40px;
    margin-top: 20px;
    font-size: 3vw;
    font-size: 2.5vw;

}

.theme-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(0 5px 5px var(--background-dark));
}

.theme-button {
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color:var(--background-dark);
    min-width: 8vw;
    min-height: 9vw;

    max-width: 9vw;
    max-height: 10vw;
    word-break: break-all;
}

.theme-button img.theme-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/*SVG STYLE*/
.svg-img {
    width: 5vw;
}

.svg-img * {
    filter: drop-shadow(2px 4px 6px rgba(255, 196, 225, 0.5));
    transition: fill 0.3s ease, filter 0.3s ease;
}

.theme-button.active {
    background-color:var(--background-dark-hover);
    transform: scale(1.05);
    border: 2px solid var(--border-blue);
    box-shadow: 0 0 8px var(--border-shadow-blue);
}

.theme-button:hover {
    background-color: var(--background-dark-hover);
    transform: scale(1.05) !important;
}

.theme-button:hover .svg-img *,
.theme-button.active .svg-img * {
    fill: #A31ACB !important;
    filter: drop-shadow(4px 6px 8px var(--text-shadow-pink));
}

/*THUMBNAIL TEXT*/
.theme-button .theme-label {
    font-size: 0.9vw;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding-top: 5px;
}

/* .theme-label:hover,
.theme-label.active {
    color: var(--primary-pink);
} */

@media screen and (max-width: 1300px) {
    .input-container {
        /* margin-top: 3vw; */
        padding: 5px;
        width: 320px;
    }

    .input-name {
        font-size: 1em;
    }

    .input-btn {
        font-size: 1.5em;
    }

    .players-list ul {
        font-size: 1.5em;
    }

    .title-theme {
        font-size: 2.5em;
    }

    .theme-button {
        min-width: 110px;
        min-height: 120px;

        max-width: none;
        max-height: none;
    }

    .theme-button img.theme-thumbnail {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .svg-img {
        width: 80px;
    }

    .theme-button .theme-label {
        font-size: 12px;
    }
}