.background-scoreboard {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.scoreboard-subtitle {
    margin-bottom: 20px;
}

.scoreboard .player-list-container {
    min-height: 64vh;
    margin-bottom: 45px;
    margin-top: 4.5vh;
}

.scoreboard .player-list {
    text-align: center;
    max-width: 60vh;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--background-dark);
    color: white;
}

.scoreboard .player-list-title {
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-text-stroke: 1px var(--text-blue);
    text-shadow: 0 0 20px var(--text-shadow-blue);
    font-family: 'geopardy';
}

.scoreboard .player-list ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-bottom: 20px;
}

.scoreboard .player-item {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 0 2vh 2vh 2vh;
    border-bottom: 1px solid rgb(47, 67, 99);
    font-size: 1.5vw;
}

.scoreboard .player-name {
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .scoreboard .player-list {
        max-width: 40vw;
    }
    
    .scoreboard .player-list-title {
        font-size: 2em;
    }
    
    .scoreboard .player-item {
        font-size: 1.5em;
    }
}
