.background-scoreboard {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}

.scoreboard-subtitle {
    margin-bottom: 20px;
}
