.question-content,
.answer-content {
    width: 80vw;
    height: 60vh;
    margin: 7vh auto 0 auto;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    background-color: var(--background-dark);
    color: white;
    font-size: 1vw;
}

.question-content h3,
.answer-content h3 {
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
}

.question-content h3 {
    padding: 0 10%;
}

.answer-content h3 {
    /* padding-right: 70px; */
    padding-right: 5%;
}

/*QUESTION PAGE*/
.btn-question,
.btn-answer-page {
    /* margin-top: 55px; */
    margin: 1vh auto 1vh auto;
    height: fit-content;
    margin-top: 13px;
    /* font-size: 1.5em;
    padding: 5px 10px 1px 10px; */
}

/*ANSWER PAGE*/
.answer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.answer-content img {
    margin: auto;
}

.portrait-img {
    height: 25vw;
    height: 90%;
    max-width: 90%;
    width: auto;
    object-fit: contain;
    overflow: hidden;
}

.landscape-img {
    width: 35vw;
    width: 100%;
    max-height: 90%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

.answer-nextbtn-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-columns: 1fr auto;
    width: calc(80vw + 100px);
    margin: auto;
    /* margin: 0 2vw; */
    margin-top: 20px;
}

.answer-content .centered-text {
    padding-right: 0;
}

.fade-in-QA {
    opacity: 0; 
    /* transform: translateY(-20px);  */
    animation: fadeInQA 1s ease-out forwards; 
}

@keyframes fadeInQA {
    from {
        opacity: 0;
        /* transform: translateY(-20px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

@media screen and (max-width: 1200px) {
    .question-content,
    .answer-content {
        font-size: 0.8em;
    }
}