.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: -550px; */
    position: relative;
    overflow: hidden;
    margin: 0;
}

.background-start {
    background-image: url('../images/earth.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* .start-title {
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 10em;
    font-size: 170px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 5px var(--primary-shadow-pink);
    text-shadow: 0 0 10px var(--text-shadow-pink);
} */

.jeopardy-name {
    width: 60%;
    margin-bottom: 50px;
    margin-top: 80px;
    filter: drop-shadow(0 -5px 5px var(--primary-shadow-pink));
    transform: scale(0);
    /* Behåll proportionerna */
    animation: growBounce 1.5s ease-out forwards 0.2s;
    transform-origin: center center;
}

.btn-start-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-startpage {
    /* margin-top: 40vw;
    margin-top: 35vw; */
    margin-bottom: 0;
}

.btn-to-attribution {
    color: #fff;
    position: fixed;
    bottom: 10px;
    left: 50px;
    text-decoration: underline;
    cursor: pointer;
}

.start-page .tips {
    color: #fff;
    position: fixed;
    bottom: 7px;
    right: 50px;
}

@keyframes growBounce {
    0% {
        transform: scale(0); /* Börjar osynligt */
    }
    70% {
        transform: scale(1.1); /* Väx till lite större än originalstorlek */
    }
    100% {
        transform: scale(1); /* Tillbaka till 100% storlek */
    }
}

@media screen and (max-width: 1300px) {

}