.star {
    position: absolute;
    /* width: 3px;
    height: 3px; */
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 70%, rgba(255,215,0,0) 100%);
    border-radius: 50%;
    pointer-events: none; 
    animation: fadeOut 1.5s ease forwards;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    box-shadow: 0 0 10px rgb(255, 255, 255);
  
  }

  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: scale(0.5) translate(50px, 50px); 
    }
  }
  
  