.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: -550px; */
    position: relative;
    overflow: hidden;
    margin: 0;
}

.background-start {
    background-image: url('../images/earth.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* .start-title {
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 10em;
    font-size: 170px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 5px var(--primary-shadow-pink);
    text-shadow: 0 0 10px var(--text-shadow-pink);
} */

.jeopardy-name {
    /* width: 60%; */
    /* margin-bottom: 50px; */
    /* margin-top: auto; */
    /* margin-top: 80px; */
    margin-top: 200px;
    margin-top: 25vh;
    margin-bottom: 8vh;

    filter: drop-shadow(0 -5px 5px var(--primary-shadow-pink));
    animation: growBounce 1.5s ease-out forwards 0.2s;
    transform-origin: center center;
    text-shadow: 0 0 5px var(--text-shadow-pink);
    /* filter: drop-shadow(0 0 5px rgba(242, 102, 171, 0.2)); */
}

/* .j-name-first-text {
    fill: #fff; 
    font-size: 110px; 
    font-size: 9vw;
    font-family: 'Rammetto One'; 
    stroke: #A31ACB; 
    stroke-width: 3px; 
    text-anchor: middle;
}

.j-name-second-text {
    fill: #fff; 
    font-size: 70px; 
    font-size: 6vw;
    font-family: 'Rammetto One'; 
    stroke: #A31ACB; 
    stroke-width: 3px; 
    text-anchor: middle;
} */

/* .jeopardy-name .name-first {
    fill: white;
    font-size: 110px;
    font-size: 7vw;
    font-family: 'Rammetto One';
    stroke: var(--primary-pink);
    stroke-width: 3px;
    text-anchor: middle;
}

.jeopardy-name .name-second {
    fill: white;
    font-size: 70px;
    font-size: 4.5vw;
    font-family: 'Rammetto One';
    stroke: var(--primary-pink);
    stroke-width: 3px;
    text-anchor: middle;
} */

.btn-start-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-startpage {
    /* margin-top: 40vw;
    margin-top: 35vw; */
    /* margin-bottom: 0; */
}

.start-extra-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
}

.btn-to-attribution {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 3%;
}

.start-page .tips {
    color: #fff;
    padding-right: 3%;
}

@keyframes growBounce {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1300px) {
    /* .jeopardy-name .name-first {
        font-size: 90px;
    }
    
    .jeopardy-name .name-second {
        font-size: 50px;
    } */

    .jeopardy-name>svg {
        transform: scale(0.8);
    }
}

/*PHONE*/
@media screen and (max-width: 767px) {
    .jeopardy-name {
        /* margin: 0;
        margin-top: auto; */
    }

    .jeopardy-name>svg {
        transform: scale(0.5);
    }

    .btn-startpage {
        margin-top: 0;
    }

    .start-extra-container {
        flex-direction: column;
    }

    .btn-to-attribution,
    .start-page .tips {
        padding: 0;
        margin: 10px auto;
    }

    .start-page .tips {
        display: none;
    }
    
}